.chat {
  padding: 2rem;

  .chat-header{
    width: 100vw;
    background: #ffbfdb;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;

    h1{
      color: white;
    }
  }
}

.chat-listing-matches {
  margin-top: 6rem;
}