.details {
  text-align: center;
  display: flex;
  justify-content: center; 
}

.detail-content {
  background-color: blue;
}

.details-article {
  text-align: center;
}
.detail-avatar {
  width: 300px;
}
.card-wrapper {
  width: 585px;
}
.body-font {
  font-size: 25px;
}

#card {
  border: solid 3px #c2c2c2;
  border-radius: 10px;

  h1 {
    text-decoration: underline;
  }
}

.btn-pink-details {
  padding: 5px 45px;
  font-size: 40px;
  color: white;
  border-color: #fc89bb;
  background-color: #fc89bb;
  border-radius: 15px;
}

.btn-pink-details:hover {
  color: #fc89bb;
  background-color: white;
}
.btn-wrapper {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 200px;
  }
}

.detail-title {
  text-align: center;
}