h1 {
  color:black;
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  color:black;
}

.list-event-wrapper {
  padding: 30px;
  margin-bottom: 80px;
  background-image: url(/images/events/confetti.jpg);
}