h1 {
  color:black;
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  color: #f77eb3;
  text-decoration: underline;
}

.my-event-wrapper {
  padding: 30px;
  margin-bottom: 80px;

  button.btn-pink {
    display: none;
  }
}

// .list-event-wrapper{
//   .events-header{
//     width: 100vw;
//     margin-left: -30px;
//     position: fixed;
//     top: 0;
//     padding: 1.5rem;
//     background-color: #ffbfdb;
  
//     h1 {
//       color: white;
//     }
//   }

//   .listing-single-event{
//     margin-top: 6rem
//   }
// }
