.matchprofile {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f7f7f766;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1), 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
  justify-content: space-between;

  .matchdetails {
    display: flex;
    flex-direction: row;   
    position: relative;

    .matchimg {
      height: 170px;
      width: 170px;
      border-radius: 50%;
    }
  
    .matchuser {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      font-size: 2.2rem;
      color: #4a4a4a;
    }
  }

  .matchmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
      background-color: #fc89bb;
      border-radius: 1rem;
      color: white;
      border: none;
      font-size: 2rem;
      padding: 1rem;
    }
    button:hover {
      color: #fc89bb;
      background-color: white;
      border: 1px solid #fc89bb;
    }
  }

  .badge {
    visibility: hidden;
  }

  .badge--on {
    visibility: visible;
    color: red;
    border: 6px solid white;
    border-radius: 50%;
    background: red;
    height: 45px;
    width: 45px;
    position: absolute;
    left: -10px;
    top: 10px;
  }

}