img {
  width: 550px;
  display: block;
  margin-left: 255px;
  margin-right: auto;
}

#event-wrapper {
  margin-top: 90px;
  text-align: -webkit-center;
  display: list-item;
}



.event-wrapper {
  text-align: center;
  height: 20%;
  width: 55%;
  padding: 3.5em;
  border-radius: 15px;
  border: solid 2px #ffbfdb;
  background-color: #f7f7f766;
  margin-top: 3.5em;

  a {
    color: #fc89bb;
    font-weight: bold;
    font-size: 33px;
  }
}

.home-body {
  margin-top: 50px;
}