img {
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#event-wrapper {
  margin-top: 300px;
  text-align: -webkit-center;
  display: list-item;
}



.event-wrapper {
  text-align: center;
  height: 30%;
  width: 60%;
  padding: 5em;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgba(58, 63, 58, 0.15);
  margin-top: 6em;
}

a {
  font-weight: bold;
  font-size: 30px;
}
