img {
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#event-wrapper {
  margin-top: 4rem;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;

  a {
    background:#ffbfdb;
    color: white;
    width: 55vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 3rem;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .my-event-btn:hover {
    color: #fc89bb;
    background-color: white;
    text-decoration: none;
    border: 1px solid #fc89bb;
    margin-left: auto;
    margin-right: auto;
  }

  .upcoming-btn:hover {
    color: #fc89bb;
    background-color: white;
    text-decoration: none;
    border: 1px solid #fc89bb;
    margin-left: auto;
    margin-right: auto;
  }
}



// .event-wrapper {
//   // text-align: center;

//   a {
//     height: 300px;
//     width: 500px;
//     padding: 3.5em;
//     border-radius: 15px;
//     border: solid 2px #ffbfdb;
//     background-color: #ffbfdb;
//     margin-top: 3.5em;
//     color: white;
//     font-weight: bold;
//     font-size: 2rem;
//   }

//   a:hover {
//     color: #fc89bb;
//     text-decoration: none;
//   }
// }

// .event-wrapper:hover {
//   background: white;
// }

.home-body {
  margin-top: 2rem;
}