@import "~bootstrap/scss/bootstrap";

.myprofile {
  justify-content: center;
  display: flex;

  button {
    position: absolute;
    top: 78vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #FF4C69;
    padding: 0.5rem;
  }


  .myProfileContent {
    top: 5rem;
    position: absolute;

    .card {
      // width: 85vw;
      height: 65vh;
      // border-radius: 0.7rem;
      // box-shadow: 0px 0px 0px 6px rgba(245, 245, 245, 0.63);
      // border: none;
    }

    .card-body {
      padding: 0;
      align-self: center;
      width: fit-content;
      border: solid 5px #fc89bb;
      border-radius: 10px;
      background-color: whitesmoke;
    }
  
    img {
      height: 40vh;
      width: auto;
      // border-radius: 5px;
      max-width: fit-content;
    }
  
    .imgdiv {
      margin-bottom: 1.5rem;
    }
  
    .pofileName {
      font-size: 2rem;
    }
  
    .cardImg {
      // border-radius: 10px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      // width: 30em;
    }
  }

}