@import "~bootstrap/scss/bootstrap";

.myprofile {
  justify-content: center;
  display: flex;

  button {
    position: absolute;
    top: 78vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #FF4C69;
    padding: 0.5rem;
  }


  .myProfileContent {
    top: 5rem;
    position: absolute;

    .card {
      height: 65vh;
    }

    .card-body {
      padding: 20px;
      align-self: center;
      width: fit-content;
      border: solid 2px #fc89bb;
      border-radius: 10px;
      background-color: #f7f7f766;
    }
    .profile-content-wrapper {
      margin: 1em;
  
    }
  
    img {
      height: 40vh;
      width: auto;
      max-width: fit-content;
    }
  
    .imgdiv {
      margin-bottom: 1.5rem;
    }
  
    .profile-font {
      font-size: 2rem;
    }

    .profile-font-name {
      font-size: 2.5em;
      color: #fc89bb;
    }
  
    .cardImg {
      border-radius: 10px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
}