@import "~bootstrap/scss/bootstrap";

.myprofile {
  justify-content: center;
  display: flex;

  .logoutBtn {
    position: absolute;
    top: 84vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #FF4C69;
    padding: 0.5rem;
  }

  .editBtn {
    visibility: visible;
    position: absolute;
    top: 75vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #44EAC4;
    padding: 0.5rem;
  }

  .editBtn-disabled{
    visibility: hidden;
  }

  .saveBtn-disabled{
    visibility: hidden;
    position: absolute;
    top: 75vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #31c7f5;
    padding: 0.5rem;
  }

  .saveBtn {
    visibility: visible;
    position: absolute;
    top: 75vh;
    color: white;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    background: #31c7f5;
    padding: 0.5rem;
  }

  .form {
    color: #4a4a4a;
    outline: 1px solid grey;
    box-shadow: 0 0 0 3px lightgrey;
    width: 100%;
    background: rgba(242, 242, 242, 1);
  }

  .form-disabled {
    color: black;
    outline: none;
    box-shadow: none;
    width: 100%;
    white-space: initial;
    overflow-wrap: break-word;
    background: none;
    border: none;
  }

  .myProfileContent {
    top: 5rem;
    position: absolute;

    .card {
      height: 65vh;
    }

    .card-body {
      padding: 20px;
      align-self: center;
      width: fit-content;
      border: solid 5px #fc89bb;
      border-radius: 10px;
      background-color: #f7f7f766;
    }
    .profile-content-wrapper {
      margin: 1em;
  
    }
  
    img {
      height: 40vh;
      width: auto;
      max-width: fit-content;
    }
  
    .imgdiv {
      margin-bottom: 1.5rem;
    }
  
    .profile-font {
      font-size: 2rem;
    }

    .profile-font-name {
      font-size: 2.5em;
      color: #fc89bb;
    }
  
    .cardImg {
      border-radius: 10px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
}