.swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .swipeHeader {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    background-color: #ffbfdb;

    h1 {
      color: white;
    }
  }
  
  .swipeMsg {
    margin-top: 30vh;
  }
}

.button-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;

    button {
    background: none;
    border-radius: 50%;
    border: solid 2px rgb(226, 226, 226);
    box-shadow: 0px 0px 0px 4px rgba(245, 245, 245, 0.53);
    height: 130px;
    width: 130px;

    .heart {
      color: #ffbfdb;
    }

    .times{
      color: grey;
    }
  }

  .heart-button-wrapper {
    box-shadow: 0 0 0 4px rgba(255, 189, 217, 0.23);
    border-color: 0;
    border-color: rgba(255, 189, 217, 0.45);
  }
}

.swipe-list-single-profile {
  margin-top: 2rem;
}
