.swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .swipeHeader {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .swipeMsg {
    margin-top: 30vh;
  }

}