
.list-event-wrapper {
  padding: 30px;
  margin-bottom: 80px;


  button.btn-pink-swipe {
    display: none;
  }
}

.my-event-wrapper {
  .my-event-header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    background-color: #ffbfdb;
  
    h1 {
      color: white;
    }
  }

  .my-event-single-event-list{
    margin-top: 6rem;
  }
}